<!DOCTYPE html>
<html>
<head>
    <title>Multimedia Processing Tools</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container">
        <h1><center>Multimedia Processing Tools</center></h1>
        <p><center>A web-based application for processing and augmenting different types of media files (text, images, audio, and 3D models).</center></p>
        <div class="button-container">
            <a href="/audio" class="btn">Audio Processing</a>
            <a href="/media" class="btn">Text & Image Processing</a>
            <a href="/3d" class="btn">3D Processing</a>
        </div>
    </div>
</body>
</html>
